::-webkit-input-placeholder {color: rgb(185, 116, 19);} /* Chrome/Opera/Safari */
::-moz-placeholder { color: rgb(185, 116, 19);} /* Firefox 19+ */
:-ms-input-placeholder { color: rgb(185, 116, 19);} /* IE 10+ */
:-moz-placeholder {color: rgb(185, 116, 19);}  /* Firefox 18- */